*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  --accent-color: #03115f;
  --dark-text: #212121;
}

body {
  font-family: "Quicksand", sans-serif;
  color: var(--dark-text);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--accent-color);
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

body {
  background-color: rgb(18 18 18);
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1536px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex_m {
  display: flex;
}

.sidebar {
  padding: 20px 40px;
  background-color: rgb(22 22 22);
  border: 1px solid rgb(22 22 22);
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.w-5 {
  width: 1.25rem;
}

.h-5 {
  height: 1.25rem;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255, 255, 255);
}

.search {
  padding: 8px;
  background-color: rgb(18 18 18);
  display: flex;
  align-items: center;
  border: 0px solid rgb(18 18 18);
  border-radius: 20px;
  width: 100%;
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.input_search {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  margin-left: 16px;
  background-color: transparent;
  border: 0 solid #e5e7eb;
  font-size: 16px;
  color: #e5e7eb;
  width: 100%;
}

.button_Submit {
  background-color: transparent;
  border: none;
  cursor: pointer;
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.current_icon {
  width: 400px;
  height: 400px;
}

.current_forecast {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.current_degree {
  font-size: 6rem;
  --tw-text-opacity: 1;
  color: rgb(252 252 252 / var(--tw-text-opacity));
  font-weight: 100;
}

.current_city_date {
  margin-top: 20px;
}

.current_day {
  font-weight: 600;
  font-size: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(252 252 252 / var(--tw-text-opacity));
}

.current_month {
  font-weight: 100;
  font-size: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(252 252 252 / var(--tw-text-opacity));
}

.city_title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(252 252 252 / var(--tw-text-opacity));
}

.date_text {
  display: flex;
  align-items: baseline;
  margin-top: 10px;
}

.line {
  margin-top: 16px;
}

.current_icon_day {
  --tw-text-opacity: 1;
  color: rgb(252 252 252 / var(--tw-text-opacity));
  display: flex;
  margin-top: 16px;
}

.current_time {
  margin-top: 16px;
  display: flex;
}

.h-6 {
  height: 1.5rem;
}

.w-6 {
  width: 1.5rem;
}

.icon_color {
  --tw-text-opacity: 1;
  color: rgb(252 252 252 / var(--tw-text-opacity));
}

.current_time_text {
  --tw-text-opacity: 1;
  color: rgb(252 252 252 / var(--tw-text-opacity));
  margin-left: 8px;
}

.header {
  width: 100%;
}

.header_header {
  display: flex;
  justify-content: space-between;
}

.title {
  border: none;
}

.rightside {
  padding: 20px 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.font-black {
  font-weight: 700;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgb(255, 255, 255);
}

.header_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temp_buttons {
  display: flex;
  align-items: center;
}

.celciusdegree {
  opacity: 0;
  width: 0;
  height: 0;
}

.farenheitdegree {
  opacity: 0;
  width: 0;
  height: 0;
}

.farenheitdegree + p {
  cursor: pointer;
}

.celciusdegree + p {
  cursor: pointer;
}

.celciusdegree:checked + p {
  background-color: rgb(255, 255, 255);
  color: #212121;
}

.farenheitdegree:checked + p {
  background-color: rgb(255, 255, 255);
  color: #212121;
}

.degree_f {
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(22 22 22 / var(--tw-bg-opacity));
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1rem;
  width: 2.5rem;
  height: 2rem;
  color: rgb(255, 255, 255);
  transition: all 0.15s;
}

.degree_c {
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(22 22 22 / var(--tw-bg-opacity));
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1rem;
  width: 2.5rem;
  height: 2rem;
  color: rgb(255, 255, 255);
  transition: all 0.15s;
}

.temp_button_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.degree_c:hover {
  transform: scale(1.22);
}

.degree_f:hover {
  transform: scale(1.22);
}

.temp_button_2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin_button {
  margin-left: 16px;
}

.temp_button_dark {
  --tw-text-opacity: 1;
  color: rgb(252 252 252 / var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(22 22 22 / var(--tw-bg-opacity));
}

.temp_button_white {
  --tw-text-opacity: 1;
  color: rgb(18 18 18 / var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(252 252 252 / var(--tw-bg-opacity));
}

.weekforecast_block {
  display: grid;
  padding: 24px;
  margin-top: 64px;
  grid-template-columns: repeat(10, 1fr);
  display: flex;
  flex-wrap: wrap;
}

.card_day {
  --tw-bg-opacity: 1;
  background-color: rgb(22 22 22 / var(--tw-bg-opacity));
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.5rem;
  height: 170px;
  width: 120px;
  --tw-shadow: 0 10px 15px -3pxrgba (0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 10px 15px -3pxvar (--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.time_card {
  --tw-bg-opacity: 1;
  color: rgb(252 252 252 / var(--tw-bg-opacity));
}

.forecast_day {
  margin: 0;
  --tw-text-opacity: 1;
  color: rgb(252 252 252 / var(--tw-text-opacity));
}

.w-16 {
  width: 4rem;
}
.h-16 {
  height: 4rem;
}

.dark_block {
  display: block;
}

.theme_button {
  background-color: transparent;
  margin-left: 32px;
  border: none;
  --tw-text-opacity: 1;
  color: rgb(252 252 252 / var(--tw-text-opacity));
  cursor: pointer;
}

.degrees_block {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.font_medium {
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(252 252 252 / var(--tw-text-opacity));
}

.description_text {
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgb(252 252 252 / var(--tw-text-opacity));
  font-size: 15px;
  margin: 0;
  text-align: center;
}

.text_gray_400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.wind_icon_svg {
  height: 40px;
  width: 60px;
}

.path_color {
  fill: #333;
}

.text_xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.todays_highlights {
  margin-top: 64px;
}

.highlights_block {
  display: flex;
  flex-direction: column;
}

.highlights_title {
  font-weight: 700;
  font-size: 1.125rem;
  --tw-text-opacity: 1;
  color: rgb(252 252 252 / var(--tw-text-opacity));
  margin: 0;
}

.highlights_cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  margin-top: 16px;
}

.highlights_card {
  --tw-bg-opacity: 1;
  background-color: rgb(22 22 22 / var(--tw-bg-opacity));
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 14rem;
}

.w-full {
  width: 100%;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ffff;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.527);
}

.wind_block {
  display: flex;
  align-items: flex-end;
  margin-top: 24px;
}

.wind_text {
  font-weight: 300;
  font-size: 4rem;
  --tw-text-opacity: 1;
  color: rgb(252 252 252 / var(--tw-text-opacity));
}

.wind_speed {
  margin-bottom: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(252 252 252 / var(--tw-text-opacity));
}

.sunrise_block {
  display: flex;
  margin-top: 24px;
  align-items: center;
}

.sunrise_img {
  width: 36px;
  height: 36px;
}

.sunrise_text {
  --tw-text-opacity: 1;
  color: rgb(252 252 252 / var(--tw-text-opacity));
  margin-left: 16px;
}

.sunset_img {
  width: 36px;
  height: 36px;
}

.sunset_block {
  display: flex;
  margin-top: 24px;
  align-items: center;
}

.sunset_text {
  --tw-text-opacity: 1;
  color: rgb(252 252 252 / var(--tw-text-opacity));
  margin-left: 16px;
}
